$primary-gray: #464648;
$primary-orange: #F19975;
$primary-green: #a7cc84;
$primary-yellow: #D8BD26;
$primary-blue: #82ADD7;
$primary-light-gray: #F2F4F6;

$grade-light-green: #97d89a;
$grade-green: #c9da98;
$grade-yellow: #ffdd9a;
$grade-orange: #ee9978;
$grade-red: #f67f85;

$text-black: $primary-gray;
$text-white: #FFFFFF;
$text-blue: $primary-blue;

$border-color: #D8D8D8;

$bp-max-width: 940px;

$font-default: 11px;
$font-header-large: 24px;
$font-header: 22px;
$font-large: 18px;
$font-paragraph: 16px;
$font-medium: 10px;
$font-small: 8px;

/* CSS RESET */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{box-sizing:border-box;}*,*:before,*:after{box-sizing:inherit;}

/* COMMON ELEMENTS */
body {
  font-family: 'Lato', sans-serif;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.text-white {
  color: #FFF;

  iframe {
    background: #FFF;
    padding: 8px 16px;
    display: block;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }

  .subtitle {
    color: #FFF;
    padding: 3rem 0 2rem 0;
    display: block;
  }
}

.iframe {
  max-width: 100% !important;
}

#modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: none;

  &.open {
    display: block;
  }

  .modal {
    width: 300px;
    height: 300px;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    background: #FFF;
    border-radius: 8px;
    z-index: 502;
    position: absolute;
    padding: 20px;

    #modal-close {
      text-decoration: none;
      color: $primary-gray;
      position: absolute;
      top: 10px;
      right: 10px;

    }

    #modal-label {
      color: #FFF;
      text-align: center;
      display: block;
      height: 30px;
      width: 100%;
      z-index: 5000;
      position: absolute;
      top: -30px;
      left: 0;
      line-height: 30px;
    }

    #modal-header-tabs {
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 8px;
      z-index: 500;
      background: #FFF;
      border-radius: 10px;

      a.show-button {
        background: #666;
        color: white;
        text-align: center;
        padding: 4px 8px;
        margin: 0;
        text-decoration: none;
        font-size: $font-default;
        width: 45%;
        display: inline-block;

        &.active {
          background: $primary-blue;
        }
      }
    }

    #modal-content {
      height: 100%;
      overflow: hidden;

      #city-select {
        position: relative;
        top: 14px;
        max-height: calc(100% - 10px);
        overflow: scroll;

        &.sheriff {
          li.city {
            display: none;
          }
        }

        &.city {
          li.sheriff {
            display: none;
          }
        }
      }

      #more-info-content {
        overflow: scroll;
        height: 100%;
      }

      ul li {
        width: 100%;

        a {
          line-height: 30px;
          text-decoration: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          width: 100%;
          display: block;
          color: $primary-gray;

          &.selected-city {
            color: $primary-blue;
          }
        }

        &:last-child a {
          border-bottom: none;
        }

        &.section-header {
          background: #222;
          color: white;
          text-align: center;
          padding: 8px;
          margin: 12px 0 3px;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      em, i {
        font-style: italic;
      }

      strong, b {
        font-style: normal;
        font-weight: bold;
      }

      a {
        text-decoration: none;
        color: $primary-blue;
      }
    }
  }

  &.large {
    .modal {
      height: auto;
      top: calc(50% - 240px);

      #modal-content {
        height: 100%;
      }
    }
  }

  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 501;
    background: rgba(0, 0, 0, 0.9);
    display: block;
  }

  #results-info-content {
    font-weight: 300;

    .modal-header {
      height: 40px;
    }

    .percentile-header {
      height: 30px;
    }

    .section-header {
      height: 20px;
      font-size: $font-default;
      font-weight: 700;
      border-bottom: 2px solid #000;
      margin-top: 20px;

      &:nth-child(2), &:nth-child(3) {
        margin-top: 0;
      }

      &.no-border {
        border-bottom: none;
      }

      .label {
        width: 61%;
        display: inline-block;
        white-space: nowrap;
      }

      .percentile {
        width: 39%;
        display: inline-block;
        text-align: center;
      }

      strong {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: $font-default;
      }
    }

    .button-wrapper {
      text-align: center;
      margin-top: 12px;

      .button {
        background: #8db6dc;
        text-decoration: none;
        color: white;
        padding: 6px 0;
        border-radius: 4px;
        text-align: center;
        font-weight: 500;
        display: block;
        text-transform: uppercase;
        font-size: $font-default;
      }
    }

    table {
      font-size: $font-default;
      font-weight: 400;

      tr {
        &.key {
          &::before {
            content: '\002B24';
            position: absolute;
            margin-top: 6px;
            font-size: $font-small;
          }

          &.double::before {
            margin-top: 12px;
          }

          &.percent-0::before { right: 115px; color: $grade-red; }
          &.percent-1::before { right: 114px; color: $grade-red; }
          &.percent-2::before { right: 113px; color: $grade-red; }
          &.percent-3::before { right: 112px; color: $grade-red; }
          &.percent-4::before { right: 111px; color: $grade-red; }
          &.percent-5::before { right: 110px; color: $grade-red; }
          &.percent-6::before { right: 109px; color: $grade-red; }
          &.percent-7::before { right: 108px; color: $grade-red; }
          &.percent-8::before { right: 107px; color: $grade-red; }
          &.percent-9::before { right: 106px; color: $grade-red; }
          &.percent-10::before { right: 105px; color: $grade-red; }
          &.percent-11::before { right: 104px; color: $grade-red; }
          &.percent-12::before { right: 103px; color: $grade-red; }
          &.percent-13::before { right: 102px; color: $grade-red; }
          &.percent-14::before { right: 101px; color: $grade-red; }
          &.percent-15::before { right: 100px; color: $grade-red; }
          &.percent-16::before { right: 99px; color: $grade-red; }
          &.percent-17::before { right: 98px; color: $grade-red; }
          &.percent-18::before { right: 97px; color: $grade-red; }
          &.percent-19::before { right: 96px; color: $grade-red; }
          &.percent-20::before { right: 95px; color: $grade-red; }
          &.percent-21::before { right: 94px; color: $grade-red; }
          &.percent-22::before { right: 93px; color: $grade-red; }
          &.percent-23::before { right: 92px; color: $grade-red; }
          &.percent-24::before { right: 91px; color: $grade-red; }
          &.percent-25::before { right: 90px; color: $grade-red; }
          &.percent-26::before { right: 89px; color: $grade-red; }
          &.percent-27::before { right: 88px; color: $grade-red; }
          &.percent-28::before { right: 87px; color: $grade-red; }
          &.percent-29::before { right: 86px; color: $grade-red; }
          &.percent-30::before { right: 85px; color: $grade-red; }
          &.percent-31::before { right: 84px; color: $grade-red; }
          &.percent-32::before { right: 83px; color: $grade-red; }
          &.percent-33::before { right: 82px; color: $grade-red; }
          &.percent-34::before { right: 81px; color: #AAA; }
          &.percent-35::before { right: 80px; color: #AAA; }
          &.percent-36::before { right: 79px; color: #AAA; }
          &.percent-37::before { right: 78px; color: #AAA; }
          &.percent-38::before { right: 77px; color: #AAA; }
          &.percent-39::before { right: 76px; color: #AAA; }
          &.percent-40::before { right: 75px; color: #AAA; }
          &.percent-41::before { right: 74px; color: #AAA; }
          &.percent-42::before { right: 73px; color: #AAA; }
          &.percent-43::before { right: 72px; color: #AAA; }
          &.percent-44::before { right: 71px; color: #AAA; }
          &.percent-45::before { right: 70px; color: #AAA; }
          &.percent-46::before { right: 69px; color: #AAA; }
          &.percent-47::before { right: 68px; color: #AAA; }
          &.percent-48::before { right: 67px; color: #AAA; }
          &.percent-49::before { right: 66px; color: #AAA; }
          &.percent-50::before { right: 65px; color: #AAA; }
          &.percent-51::before { right: 64px; color: #AAA; }
          &.percent-52::before { right: 63px; color: #AAA; }
          &.percent-53::before { right: 62px; color: #AAA; }
          &.percent-54::before { right: 61px; color: #AAA; }
          &.percent-55::before { right: 60px; color: #AAA; }
          &.percent-56::before { right: 59px; color: #AAA; }
          &.percent-57::before { right: 58px; color: #AAA; }
          &.percent-58::before { right: 57px; color: #AAA; }
          &.percent-59::before { right: 56px; color: #AAA; }
          &.percent-60::before { right: 55px; color: #AAA; }
          &.percent-61::before { right: 54px; color: #AAA; }
          &.percent-62::before { right: 53px; color: #AAA; }
          &.percent-63::before { right: 52px; color: #AAA; }
          &.percent-64::before { right: 51px; color: #AAA; }
          &.percent-65::before { right: 50px; color: #AAA; }
          &.percent-66::before { right: 49px; color: #AAA; }
          &.percent-67::before { right: 48px; color: $grade-light-green; }
          &.percent-68::before { right: 47px; color: $grade-light-green; }
          &.percent-69::before { right: 46px; color: $grade-light-green; }
          &.percent-70::before { right: 45px; color: $grade-light-green; }
          &.percent-71::before { right: 44px; color: $grade-light-green; }
          &.percent-72::before { right: 43px; color: $grade-light-green; }
          &.percent-73::before { right: 42px; color: $grade-light-green; }
          &.percent-74::before { right: 41px; color: $grade-light-green; }
          &.percent-75::before { right: 40px; color: $grade-light-green; }
          &.percent-76::before { right: 39px; color: $grade-light-green; }
          &.percent-77::before { right: 38px; color: $grade-light-green; }
          &.percent-78::before { right: 37px; color: $grade-light-green; }
          &.percent-79::before { right: 36px; color: $grade-light-green; }
          &.percent-80::before { right: 35px; color: $grade-light-green; }
          &.percent-81::before { right: 34px; color: $grade-light-green; }
          &.percent-82::before { right: 33px; color: $grade-light-green; }
          &.percent-83::before { right: 32px; color: $grade-light-green; }
          &.percent-84::before { right: 31px; color: $grade-light-green; }
          &.percent-85::before { right: 30px; color: $grade-light-green; }
          &.percent-86::before { right: 29px; color: $grade-light-green; }
          &.percent-87::before { right: 28px; color: $grade-light-green; }
          &.percent-88::before { right: 27px; color: $grade-light-green; }
          &.percent-89::before { right: 26px; color: $grade-light-green; }
          &.percent-90::before { right: 25px; color: $grade-light-green; }
          &.percent-91::before { right: 24px; color: $grade-light-green; }
          &.percent-92::before { right: 23px; color: $grade-light-green; }
          &.percent-93::before { right: 22px; color: $grade-light-green; }
          &.percent-94::before { right: 21px; color: $grade-light-green; }
          &.percent-95::before { right: 20px; color: $grade-light-green; }
          &.percent-96::before { right: 19px; color: $grade-light-green; }
          &.percent-97::before { right: 18px; color: $grade-light-green; }
          &.percent-98::before { right: 17px; color: $grade-light-green; }
          &.percent-99::before { right: 16px; color: $grade-light-green; }
          &.percent-100::before { right: 15px; color: $grade-light-green; }
        }

        &.incomplete {
          background: repeating-linear-gradient(-55deg, #FFF, #FFF 2px, rgba(0, 0, 0, 0.1) 2px, rgba(0, 0, 0, 0.1) 4px);

          &::before {
            content: 'INCOMPLETE';
            position: absolute;
            right: 37px;
            margin-top: 6px;
            color: $grade-red;
            font-size: $font-medium;;
            font-weight: 700;
            background: #FFF;
          }

          &.double::before {
            margin-top: 12px;
          }
        }

        &.no-complaints {
          background: repeating-linear-gradient(-55deg, #FFF, #FFF 2px, rgba(0, 0, 0, 0.1) 2px, rgba(0, 0, 0, 0.1) 4px);

          &::before {
            content: 'NO COMPLAINTS';
            position: absolute;
            right: 30px;
            margin-top: 6px;
            color: $grade-light-green;
            font-size: $font-medium;;
            font-weight: 700;
            background: #FFF;
          }

          &.double::before {
            margin-top: 12px;
          }
        }
      }

      td {
        border-right: 1px solid $border-color;
        border-top: 1px solid $border-color;
        padding: 4px 0;

        &.divider {
          border-right: 1px solid #000;
        }
      }
    }

    .summary {
      text-align: left;
      margin-top: 12px;
    }

    .results-header {
      display: inline-block;
      font-weight: 400;
      width: 48%;
      white-space: nowrap;
      overflow: visible;
    }

    .keys {
      display: inline-block;
      font-size: $font-small;;
      font-weight: 400;
      width: 52%;
      text-align: right;
      white-space: nowrap;

      .key {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 2px;
        white-space: nowrap;

        &.key-bad {
          background-color: $grade-red;
        }
        &.key-avg {
          background-color: #AAA;
        }
        &.key-good {
          background-color: $grade-light-green;
        }
      }
    }

    strong {
      font-weight: 700;

      &.grade-a {
        color: $grade-light-green;
      }

      &.grade-b {
        color: $grade-green;
      }

      &.grade-c {
        color: $grade-yellow;
      }

      &.grade-d {
        color: $grade-orange;
      }

      &.grade-f {
        color: $grade-red;
      }

      &.grade span {
        color: $primary-gray !important;
      }
    }

    p {
      margin-top: 20px;
      line-height: 18px;

      &:first-child {
        margin-top: 0;
      }

      &.score {
        font-size: $font-large;
        line-height: 24px;
      }

      &.instructions {
        font-size: $font-large;
        line-height: 24px;
        color: $text-blue;
      }
    }
  }
}

.wrapper {
  width: 100%;
}

/* SECTION */
.section {
  &.bb {
    border-bottom: 8px solid rgba(0, 0, 0, 0.05);
  }

  &.pad {
    padding-bottom: 80px;
    padding-top: 20px;
  }

  .view-score {
    cursor: pointer;
    text-align: right;
    line-height: 80px;
    vertical-align: middle;

    span {
      vertical-align: middle;
      padding: 0 4px;
    }

    .tooltip {
      position: absolute;
      top: 53px;
      left: 20px;

      span, small {
        color: white !important;
        font-size: $font-default !important;
        font-weight: 600;
      }
    }
  }

  &.jail {
    background: #464648;
    color: #fff;
    padding-bottom: 40px;

    p.note, .progress-bar.grouped span {
      color: #bbbbbb;
    }

    .stat-wrapper .keys .key.key-black, .stat-wrapper .progress-bar-wrapper .progress-bar.key-black {
      background-color: #737373;
    }
  }

  .content {
    max-width: $bp-max-width;
    margin: 0 auto;

    a.results-info {
      font-size: $font-default;
      background: #454548;
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 50%;
      color: #FFF;
      text-align: center;
      line-height: 20px;
      vertical-align: bottom;
      margin-left: 14px;
      text-decoration: none;
      position: relative;
      top: -2px;

      &:hover {
        background-color: $primary-blue;
      }
    }

    .error {
      display: block;
      font-size: $font-large;
      color: #f67f85;
      text-align: center;
      padding-bottom: 18px;
    }

    &.section-header {
      font-size: $font-header;

      .tooltip {
        position: relative !important;
        margin-left: 4px !important;
        top: 0 !important;
      }

      h1.title {
        color: $primary-blue;
        font-size: $font-header-large;
        text-transform: uppercase;
        font-weight: 500;
        margin: $font-header-large 0 20px 0;
      }

      strong {
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 900;
        text-transform: uppercase;

        &.grade-a {
          color: $grade-light-green;
        }

        &.grade-b {
          color: $grade-green;
        }

        &.grade-c {
          color: $grade-yellow;
        }

        &.grade-d {
          color: $grade-orange;
        }

        &.grade-f {
          color: $grade-red;
        }

        &.grade span {
          color: $primary-gray !important;
        }
      }
    }

    & > div.left {
      display: inline-block;
      width: 50%;
      padding-right: 5%;
      vertical-align: top;

      &.v-center {
        vertical-align: middle;
      }
    }

    & > div.right {
      display: inline-block;
      width: 49%;
      padding-left: 5%;
      vertical-align: top;

      &.v-center {
        vertical-align: middle;
      }
    }
  }

  .divider {
    opacity: 0.15;
  }

  &.bg-gray {
    background-color: $primary-gray;
  }

  &.bg-orange {
    background-color: $primary-orange;
  }

  &.bg-light-gray {
    background-color: $primary-light-gray;
  }

  &.bg-dotted {
    background: radial-gradient(rgba(0,0,0,.1) 10%, transparent 10%) 0 0, radial-gradient(rgba(0,0,0,.1) 10%, transparent 10%) 8px 8px, radial-gradient(rgba(255,255,252,.1) 10%, transparent 10%) 0 1px, radial-gradient(rgba(255,255,255,.1) 10%, transparent 5%) center center;
    background-size: 16px 16px;
    background-color: #EFEFEF;
  }
}

/* CONTENT */
.title {
  font-family: 'Barlow Condensed', sans-serif;
}

.stat-wrapper {
  // border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  margin-top: 30px;
  position: relative;

  a {
    color: #000;
    text-decoration: none;
  }

  .stats-change, .tooltip, .grade-arrow {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    display: inline-block;
  }

  &:last-child {
    border-bottom: none;
  }

  a.more-info {
    background: url(../img/see-more.png) center center no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: -7px;
    right: -14px;
    display: none;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 8px;
    font-size: $font-paragraph;
    padding-right: 22px;
  }

  p {
    font-size: $font-paragraph;
    line-height: 30px;
  }

  p.note {
    font-size: $font-default;
    color: $primary-gray;
    line-height: 18px;
    margin-bottom: 30px;
    text-align: left;
    text-indent: 5px;
  }

  p.good-job {
    color: $grade-light-green;
    text-align: center;
    padding-top: 10px;
    font-weight: 600;

    &.pad-bottom {
      padding-bottom: 65px;
    }
  }

  .minor-pad {
    padding-bottom: 18px;
  }

  .canvas-wrapper {
    position: relative;

    canvas {
      max-width: 320px;
    }

    .canvas-label {
      position: absolute;
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 100px;
      text-align: center;
      width: 200px;
      height: 200px;
      left: calc(50% - 100px);
      top: 90px;
      border-radius: 50%;
      font-weight: 900;
      padding-top: 50px;
      line-height: 50px;

      span {
        font-size: $font-header;
        text-transform: uppercase;
        font-weight: 500;
        display: flex;
        line-height: 28px;
        margin-top: 20px;
      }
    }
  }

  .keys {
    font-size: 14px;
    white-space: nowrap;

    .key {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #999;
      margin: 0 4px 0 15px;
      line-height: 20px;
      white-space: nowrap;

      &:first-child {
        margin-left: 0;
      }

      &.key-red {
        background-color: $grade-red;
      }

      &.key-orange {
        background-color: #f19975;
      }

      &.key-black {
        background-color: #58595b;
      }

      &.key-grey {
        background-color: #9a9b9f;
      }

      &.key-white {
        background-color: #d4d9e4;
      }
    }
  }

  .progress-bar-wrapper {
    background-color: $border-color;
    width: 100%;
    height: 11px;
    display: flex;
    position: relative;
    border-radius: 3px;
    margin: 14px 0 8px 0;

    .progress-bar {
      background-color: $primary-blue;
      position: absolute;
      top: 0;
      left: 0;
      width: 1%;
      display: block;
      height: 11px;
      border-radius: 3px;
      max-width: 100%;
      min-width: 1%;
      transition: width 1s;

      &.no-data {
        min-width: 0;
      }

      &.grouped {
        position: relative;
        display: inline-block;
        float: left;
        border-radius: 0;
        text-align: center;
        min-width: 0;

        span {
          font-size: $font-medium;;
          position: relative;
          top: -18px;
          color: #999;
        }
      }

      &.key-red {
        background-color: $grade-red;
      }

      &.key-orange {
        background-color: #f19975;
      }

      &.key-black {
        background-color: #58595b;
      }

      &.key-grey {
        background-color: #9a9b9f;
      }

      &.key-white {
        background-color: #d4d9e4;
      }

      &.bright-green {
        background-color: $grade-light-green;
      }

      &.green {
        background-color: $grade-green;
      }

      &.yellow {
        background-color: $grade-yellow;
      }

      &.orange {
        background-color: $grade-orange;
      }

      &.red {
        background-color: $grade-red;
      }

      &.always-bad {
        background-color: $grade-red;
      }

      &.dark-grey {
        background-color: #888;
      }
    }
  }

  &.grouped {
    h3 {
      margin-bottom: 24px; display: block;
    }

    p {
      margin-top: 27px;
      line-height: 18px;
      margin-bottom: 0;
    }
  }
}

.header {
  height: 120px;

  .content {
    height: 120px;
  }

  .logo {
    text-decoration: none;
    position: relative;
    top: 33px;
    left: 25px;

    svg {
      height: 55px;
      width: auto;
    }
  }

  #mobile-toggle {
    display: none;
  }

  #menu {
    float: right;

    li {
      display: inline-block;
      margin-right: 20px;
      line-height: 110px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #FFF;
        text-transform: uppercase;
        text-decoration: none;
        font-size: $font-default;
        letter-spacing: 1px;
        padding: 20px 0;
        transition: color 0.25s;

        &:hover, &.active {
          color: $primary-blue;
        }
      }
    }
  }
}

.current-state {
  text-align: center;
  color: $primary-blue;
  font-weight: 500;
  height: 100px;
  line-height: 100px;
  font-size: $font-header-large;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Barlow Condensed', sans-serif;

  svg {
    position: relative;
    top: 5px;
  }
}

.selected-location a {
  font-family: 'Barlow Condensed', sans-serif;
  color: $primary-blue;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 60px;
  text-decoration: none;
  position: relative;
  padding-bottom: 30px;
  display: inline-block;

  &::after {
    content: '\0025E2';
    font-size: $font-large;
    color: $primary-orange;
    position: absolute;
    right: -40px;
    top: 18px;
    transform: rotate(45deg);
  }
}

.section.hero {
  .clear {
    height: 0;
    width: 100%;
    clear: both;
  }
  .left {
    width: 30% !important;
    display: inline-block;
    float: left;

    .map {
      width: 283px;
      height: 340px;
      margin: 20px 0;
      display: block;
      position: relative;
    }
  }
  .right {
    width: 69% !important;
    display: inline-block;
    text-align: center;
    float: right;

    h1 {
      font-size: 34px;
      font-weight: 400;
      color: $primary-gray;
      margin-top: 80px;
      padding: 18px 0;
    }
    h2 {
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 34px;
      font-weight: 500;
      color: $primary-gray;
      font-style: italic;
      margin-bottom: 36px;
    }
  }
}

.section.stats {
  .one-third {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    padding-right: 60px;
    padding-bottom: 60px;

    h1 {
      color: $primary-blue;
      font-family: 'Barlow Condensed', sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 24px;
      margin-bottom: 20px;
      line-height: 28px;

      strong {
        font-weight: 500;
      }
    }

    p {
      color: #FFF;
      font-weight: 300;
      line-height: 28px;
      font-size: $font-paragraph;

      strong {
        font-weight: 500;
      }
    }
  }
}

.section.score {
  &.animate {
    .left {
      left: -500px;
    }
    .right {
      right: -500px;
    }
  }
  .left {
    display: inline-block;
    padding: 30px 0;
    position: relative;
    left: 0;
    transition: left 0.5s;

    .selected-location a {
      color: #FFF;
      padding: 0;

      &::after {
        color: #000;
      }
    }
  }
  .right {
    display: inline-block;
    font-size: $font-header-large;
    color: #FFF;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 0;
    line-height: 120px;
    position: relative;
    right: 0;
    transition: right 0.5s;

    .grade {
      font-size: 80px;
      font-weight: 600;
      font-family: 'Lato', sans-serif;
      // position: absolute;
      // top: -4px;
      // margin-left: 20px;
    }
  }
}

.section.checklist {
  padding-bottom: 60px;

  h1.title {
    color: #FFF;
    padding: 50px 0 30px 0;
    font-size: $font-header-large;
    line-height: $font-header-large;
    text-transform: uppercase;
    font-weight: 300;

    span.good {
      color: $primary-green;
    }

    span.bad {
      color: #f67f85;
    }
  }

  .check {
    height: 48px;
    color: #FFF;
    font-size: $font-paragraph;
    padding-left: 48px;
    line-height: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      display: block;
      background-color: #FFF;
      border-radius: 50%;
      transition: all 0.5s;
      width: 36px;
      height: 36px;
      position: absolute;
      left: 0;
      opacity: 1;
    }

    &.animate-check {
      &::before {
        left: -30px;
        opacity: 0;
      }
    }

    &.checked {
      color: $primary-green;

      &::before {
        background-color: $primary-green;
      }
    }

    &.checked-bad {
      color: #f67f85;

      &::before {
        background-color: #f67f85;
      }
    }
  }
}

.section.grades {
  padding-bottom: 60px;

  h1.title {
    color: $primary-blue;
    padding: 50px 0;
    font-size: $font-header-large;
    line-height: 54px;
    text-transform: uppercase;
    font-weight: 300;
  }

  table {
    width: 100%;

    tr, td {
      line-height: 32px;
    }

    tr {
      border-bottom: 1px solid rgba(0,0,0,0.25);
    }

    th {
      font-family: 'Barlow Condensed', sans-serif;
      text-align: left;
      font-weight: 500;
      text-transform: uppercase;
      border-bottom: 2px solid rgba(0,0,0,0.35);
    }

    td {
      font-size: $font-paragraph;
      font-weight: 300;

      a {
        text-decoration: none;
        color: #000;
      }
    }
  }

  .button {
    margin: 0 auto;
    width: 120px;
    background: #8db6dc;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    border-radius: 4px;
    text-align: center;
    margin-top: 30px;

    &.more {
      display: none;
    }
    &.less {
      display: block;
    }
  }

  &.short {
    .left, .right {
      max-height: 360px;
      overflow: hidden;
    }

    .button {
      &.more {
        display: block;
      }
      &.less {
        display: none;
      }
    }
  }

  div.grade {
    height: 20px;
    width: 75px;
    position: relative;
    top: -3px;
    color: #FFF;
    font-size: $font-default;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 0 12px rgba(0,0,0,1);
    overflow: hidden;

    &.grade-a {
      background: $grade-light-green;
    }

    &.grade-b {
      background: $grade-green;
    }

    &.grade-c {
      background: $grade-yellow;
    }

    &.grade-d {
      background: $grade-orange;
    }

    &.grade-f {
      background: $grade-red;
    }
  }
}

.section.why {
  padding-bottom: 60px;

  h1.title {
    color: $primary-orange;
    padding: 40px 0;
    font-size: $font-header-large;
    line-height: $font-header-large;
    text-transform: uppercase;
    font-weight: 500;
  }

  p, ul, li {
    font-size: $font-large;
    line-height: 24px;
    color: $primary-gray;
  }

  .take-action {
    color: #f19975;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
  }

  ul {
    li {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul.contacts {
      margin-top: 14px;
      list-style: none;
      margin-left: 0;

      li {
        font-size: $font-paragraph;
        line-height: 24px;
      }
    }
  }

  .number {
    ul {
      list-style: none;
      margin-left: 40px;

      a.button {
        white-space: nowrap;
        padding: 4px 20px;
      }
    }

    &::before {
      font-family: 'Barlow Condensed', sans-serif;
      position: absolute;
      font-weight: 700;
      font-size: $font-header-large;
    }

    &.number-1::before {
      content: '1.';
    }

    &.number-2::before {
      content: '2.';
    }


  }

  a {
    color: $primary-blue;
    text-decoration: none;

    &.button {
      background: #8db6dc;
      text-decoration: none;
      color: white;
      padding: 0 20px;
      border-radius: 4px;
      text-align: center;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 20px;
      display: inline-block;
    }
  }

  strong {
    font-weight: 600;
  }
}

.section.next {
  padding-bottom: 60px;

  h1.title {
    color: $primary-orange;
    padding: 40px 0;
    font-size: $font-header-large;
    line-height: 54px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      position: absolute;
      height: 4px;
      bottom: -54px;
      background: #fedc9e;
      background: -moz-linear-gradient(left,  #fedc9e 0%, #c9d99b 50%, #99d79c 100%);
      background: -webkit-linear-gradient(left,  #fedc9e 0%,#c9d99b 50%,#99d79c 100%);
      background: linear-gradient(to right,  #fedc9e 0%,#c9d99b 50%,#99d79c 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fedc9e', endColorstr='#99d79c',GradientType=1 );
    }

    &::after {
      content: '';
      position: absolute;
      width: 14px;
      height: 14px;
      background: transparent;
      border-top: 4px solid #99D79C;
      border-right: 4px solid #99D79C;
      transform: translate3d(0, -50%, 0) rotate(45deg);
      right: 0;
      bottom: -66px;
    }
  }

  .step {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    padding-right: 60px;

    & > div {
      padding-top: 40px;
    }

    img {
      height: auto;
      display: inline-block;
      float: left;
      width: 70px;
      shape-margin: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    p {
      font-size: $font-large;
      line-height: 24px;
      color: #464648;
    }

    h2 {
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 32px;
      line-height: 36px;
      text-transform: uppercase;
      font-weight: 300;
    }

    strong {
      font-weight: 600;
    }
  }

  .step-1 {
    h2 {
      color: #FEDC9E;
    }

    img {
      shape-outside: url(../img/next/step1.svg);
    }
  }

  .step-2 {
    h2 {
      color: #C9D99B;
    }

    img {
      shape-outside: url(../img/next/step2.svg);
    }
  }

  .step-3 {
    h2 {
      color: #99D79C;
    }

    img {
      shape-outside: url(../img/next/step3.svg);
    }
  }
}

.section.about {
  padding: 20px;

  .content {
    line-height: 24px;
    overflow: visible;

    img {
      max-width: 500px;

      &.narrow {
        max-width: 300px;
      }
    }

    h1, h2, h3 {
      text-transform: uppercase;
      margin: 14px 0;
    }

    h1.title {
      color: $primary-blue;
      padding: 0;
      font-size: $font-header-large;
      line-height: $font-header-large;
      font-weight: 500;
    }

    h2.title {
      color: $primary-gray;
      padding: 0;
      font-size: 28px;
      line-height: 32px;
      font-weight: 300;
    }

    h3.title {
      color: $primary-blue;
      padding: 0;
      font-size: $font-large;
      line-height: 24px;
      font-weight: 400;
    }

    a {
      color: $primary-blue;
      text-decoration: none;
    }

    ol {
      list-style: decimal;
      margin: 14px 22px;
    }
  }
}

.section.footer {
  padding: 20px 0;

  a.social {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #cacaca;
    border-radius: 50%;
    margin-right: 8px;
    transition: background-color 0.25s;
    text-align: center;
    line-height: 30px;
    color: $primary-gray;
    margin-top: 8px;

    &:hover {
      background: #FFF;
    }
  }

  .right {
    a {
      font-family: 'Barlow Condensed', sans-serif;
      color: #FFF;
      text-decoration: none;
      display: inline-block;
      font-size: 22px;
      line-height: 45px;
      font-weight: 300;
      text-transform: uppercase;
      margin-right: 40px;
      padding-left: 52px;

      &.get-involved {
        background: url(../img/hand.png) left center no-repeat;
      }

      &.donate {
        background: url(../img/donate.png) left center no-repeat;
      }
    }
  }

  .content.bt {
    border-top: 2px solid rgba(255, 255, 255, 0.25);
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    color: #cacaca;
    font-weight: 300;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: $font-large;

    a {
      color: #FFF;
      text-decoration: none;
      display: block;
      font-size: 28px;
      letter-spacing: 2px;
      line-height: 34px;
    }
  }
}

#state-map {
  height: 100%;
  width: auto;
}

text.highcharts-credits {
  display: none;
}

svg.highcharts-root path.highcharts-point {
  stroke: #444;
  stroke-width: 0.25px;
}

.highcharts-mappoint-series {
  &.highcharts-series-7 {
    image {
      filter: url(#drop-shadow)
    }
  }
}

.highcharts-map-series path {
  fill: #FFF;
  transition: fill 0.25s;

  &.highcharts-color-1,
  &.highcharts-color-2,
  &.highcharts-color-3,
  &.highcharts-color-4,
  &.highcharts-color-5 {
    fill: #F7F7F7;
    stroke: transparent;
  }

  &.highcharts-color-1:hover {
    fill: $grade-red;
    stroke: $grade-red;
  }
  &.highcharts-color-2:hover {
    fill: $grade-orange;
    stroke: $grade-orange;
  }
  &.highcharts-color-3:hover {
    fill: $grade-yellow;
    stroke: $grade-yellow;
  }
  &.highcharts-color-4:hover {
    fill: $grade-green;
    stroke: $grade-green;
  }
  &.highcharts-color-5:hover {
    fill: $grade-light-green;
    stroke: $grade-light-green;
  }

  &.highcharts-color-1.active,
  &.highcharts-color-1.active:hover {
    fill: $grade-red;
    stroke: $grade-red;
  }
  &.highcharts-color-2.active,
  &.highcharts-color-2.active:hover {
    fill: $grade-orange;
    stroke: $grade-orange;
  }
  &.highcharts-color-3.active,
  &.highcharts-color-3.active:hover {
    fill: $grade-yellow;
    stroke: $grade-yellow;
  }
  &.highcharts-color-4.active,
  &.highcharts-color-4.active:hover {
    fill: $grade-green;
    stroke: $grade-green;
  }
  &.highcharts-color-5.active,
  &.highcharts-color-5.active:hover {
    fill: $grade-light-green;
    stroke: $grade-light-green;
  }
}

#state-map.city {
  .highcharts-map-series path {
    &.highcharts-color-1,
    &.highcharts-color-2,
    &.highcharts-color-3,
    &.highcharts-color-4,
    &.highcharts-color-5 {
      fill: #FFF;
    }

    &.highcharts-color-1:hover {
      fill: $grade-red;
      stroke: $grade-red;
    }
    &.highcharts-color-2:hover {
      fill: $grade-orange;
      stroke: $grade-orange;
    }
    &.highcharts-color-3:hover {
      fill: $grade-yellow;
      stroke: $grade-yellow;
    }
    &.highcharts-color-4:hover {
      fill: $grade-green;
      stroke: $grade-green;
    }
    &.highcharts-color-5:hover {
      fill: $grade-light-green;
      stroke: $grade-light-green;
    }
  }
}

.buttons {
  height: 40px;

  .btn {
    background: #f7f7f7;
    border: 1px solid #CCC;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: $font-default;

    &.active {
      background: #FFF;
      border: 1px solid #666;
      font-weight: 600;
    }
  }
}

.stats-change {
  position: absolute;
  right: 0;
}

.tooltip {
  cursor: default;
  z-index: 1000;
  font-size: 16px;
  font-family: monospace;
  height: 17px;
  line-height: 16px;
  display: inline-block;
  top: 2px;
  z-index: 50;
  width: 22px;

  .grade-arrow {
    position: relative;
    display: block;
    width: 100%;
    height: 24px;

    span {
      position: absolute;
      left: 0;
      font-size: 14px;
      font-family: monospace;
      display: block;
      line-height: 8px;
      width: 100%;
      top: 1px;
      text-align: center;
      height: 7px;
    }

    small {
      position: absolute;
      left: 0;
      font-size: $font-medium;
      font-family: 'Lato', sans-serif;
      text-align: center;
      width: 100%;
      display: block;
      bottom: 0;
      color: black;
    }
  }

  &.bad {
    color: $grade-red !important;

    &.reverse {
      color: $grade-light-green !important;
    }

    .grade-arrow {
      span {
        bottom: 0;
        transform: rotate(-90deg);
      }
    }
  }

  &.good {
    color: $grade-light-green !important;

    &.reverse {
      color: $grade-red !important;
    }

    .grade-arrow {
      span {
        transform: rotate(90deg);
      }
    }
  }

  &::before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    top: -7px;
    left: -150px;
    background: black;
    color: white;
    white-space: nowrap;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: $font-default;
    line-height: 12px;
    font-family: 'Lato', sans-serif;
    width: 140px;
    text-align: center;
  }

  &:focus, &:hover {
    color: black !important;
  }

  &:focus::before, &:hover::before {
    display: block;
  }
}

.grades {
  td {
    position: relative;
    white-space: nowrap;

    a.score {
      display: inline-block;
      vertical-align: middle;
    }

    .tooltip {
      position: unset;
      top: unset;
      left: unset;
      display: inline-block;
    }
  }
}

.title.white {
  color: white;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  background: $primary-green;
  clear: both;
  padding: 8px;
  font-weight: 600;

  &.bad {
    background-color: #f67f85;
  }
}

.spending {
  p.note {
    margin-top: 8px;
    text-align: center;
  }

  .keys {
    margin-top: 14px;
  }

  p strong {
    font-weight: 600;
    font-size: 12px;
  }
}
.tile-chart {
  width: 320px;
  height: 80px;
  margin: 0 auto;
  margin-top: 20px;

  .tile {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #eeeeee;
    float: left;
    box-shadow: inset 0 0 0 1px #FFF;

    &.color-1 {
      background-color: $grade-red;
    }
    &.color-2 {
      background-color: #58595b;
    }
    &.color-3 {
      background-color: #9a9b9f;
    }
    &.color-4 {
      background-color: #d4d9e4;
    }
  }
}

div.number-list {
  padding-left: 80px;
  position: relative;
}

p.number-list {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background: #a7cc84;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: -60px;
    display: block;
    top: 0;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    font-family: 'Barlow Condensed', sans-serif;
    color: #FFF;
  }

  &.n1::after {
    content: '1';
  }

  &.n2::after {
    content: '2';
  }

  &.n3::after {
    content: '3';
  }

  &.n4::after {
    content: '4';
  }

  &.n5::after {
    content: '5';
  }

  &.n6::after {
    content: '6';
  }

  &.n7::after {
    content: '7';
  }

  &.n8::after {
    content: '8';
  }
}

/* RESPONSIVE */
@media screen and (min-width: $bp-max-width) {
  .header {
    .logo {
      left: 0;
    }
  }
  .hide-desktop {
    display: none;
  }
}

@media screen and (max-width: $bp-max-width) {
  .hide-mobile {
    display: none;
  }

  div.number-list {
    padding-left: 40px;
  }

  p.number-list {
    &::after {
      left: -50px;
    }
  }

  .view-score {
    .tooltip {
      left: unset !important;
      top: 9px !important;
      right: 0;
    }
  }
  p.good-job {
    &.pad-bottom {
      padding-bottom: 0 !important;
    }
  }
  .number {
    &.number-2 {
      margin-top: 20px;
    }
  }
  .minor-pad {
    padding-bottom: 0;
  }
  .header {
    height: 60px;
    position: relative;

    .content {
      height: 60px;
    }

    .logo {
      top: 12px;
      left: 14px;

      svg {
        height: 34px;
        width: auto;
      }
    }

    #mobile-toggle {
      width: 30px;
      height: 30px;
      display: block;
      background: url('../img/menu-toggle.svg') center center no-repeat;
      float: right;
      position: relative;
      right: 14px;
      top: 14px;
    }

    #menu {
      position: absolute;
      top: 60px;
      left: 0;
      background: $primary-gray;
      z-index: 100;
      width: 100%;
      display: none;

      &.open {
        display: block;
      }

      li {
        display: block;
        margin-right: 0;
        line-height: 24px;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        a {
          color: #FFF;
          text-transform: uppercase;
          text-decoration: none;
          font-size: $font-default;
          letter-spacing: 1px;
          padding: 14px 0 14px 14px;
          transition: color 0.25s;
          width: 100%;
          display: block;

          &:hover {
            color: $primary-blue;
          }
        }
      }
    }
  }
  .section {
    &.pad {
      padding-bottom: 20px;
      padding-top: 20px;
    }
    &.bb {
      border-bottom: 0;
    }
    &.about {
      .content {
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
    }
    .content {
      overflow: hidden;

      &.section-header {
        padding-left: 20px;
        padding-right: 20px;
        font-size: $font-large;

        h1.title {
          font-size: 24px;
          font-weight: 500;
          margin: 20px 0 10px 0;
        }
      }

      .stat-wrapper {
        &.no-border-mobile {
          border-bottom: 0;
        }

        &.grouped {
          padding-bottom: 22px;
        }

        h3 {
          font-size: 14px;
          line-height: 18px;
        }

        p {
          font-size: 14px;
          line-height: 18px;
        }

        p.keys {
          white-space: nowrap;
          padding-top: 8px;

          .key {
            margin: 0 4px 0 8px;

            &:first-child {
              margin-left: 0;
            }
          }
        }
      }

      .good-job {
        padding-bottom: 20px;
        display: block;
      }

      p.note {
        font-size: $font-default;
      }

      & > div.left {
        display: block;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        vertical-align: top;

        &.v-center {
          vertical-align: middle;
        }

        .stat-wrapper {
          &:last-child {
            // border-bottom: 2px solid rgba(0, 0, 0, 0.05);
          }
        }
      }

      & > div.right {
        display: block;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        &.v-center {
          vertical-align: middle;
        }
      }
    }
  }
  .section.stats {
    padding: 20px 0 40px 0;

    .one-third {
      width: 100%;
      display: block;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 0;
      margin-top: 0;

      h1 {
        font-size: $font-header;
        margin-bottom: 10px;
        line-height: 28px;
        padding-top: 20px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .section.current-state {
    height: 60px;
    line-height: 60px;
    font-size: 32px;

    svg {
      width: 32px;
      height: 32px;
    }
  }
  .section.bg-dotted {
    background: radial-gradient(rgba(0,0,0,0.1) 10%, transparent 10%) 0 0,radial-gradient(rgba(0,0,0,0.1) 10%, transparent 10%) 4px 4px,radial-gradient(rgba(255,255,252,0.1) 10%, transparent 10%) 0 1px,radial-gradient(rgba(255,255,255,0.1) 10%, transparent 5%) center center;
    background-size: 10px 10px;
    background-color: #EFEFEF;
  }
  .section.hero {
    .map {
      margin: 0 auto !important;
      margin-bottom: 20px !important;
    }
    .left, .right {
      width: 100% !important;
      display: block;
    }
    .right {
      h1 {
        font-size: $font-large;
        margin-top: 20px;
        padding: 10px 0;
      }
      h2 {
        font-size: $font-paragraph;
        margin-bottom: 24px;
      }
    }
  }

  .section.score {
    .left, .right {
      width: 49% !important;
      display: inline-block !important;
      height: 80px;
    }

    .right {
      font-size: $font-large;

      .grade {
        font-size: $font-header-large;
      }

      span {
        position: relative;
        top: -20px;
      }
    }
  }

  .selected-location {
    a {
      font-size: $font-header;
      padding-bottom: 20px;

      &::after {
        font-size: $font-small;
        right: -15px;
        top: 7px;
      }
    }
  }

  .section.checklist {
    padding-bottom: 30px;

    h1.title {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 30px;
      line-height: 34px;
      padding-top: 30px;
      padding-bottom: 20px;
    }

    .check {
      font-size: 14px;
    }
  }

  .section.grades {
    padding-bottom: 50px;

    h1.title {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 30px;
      line-height: 34px;
      padding-top: 30px;
      padding-bottom: 20px;
    }

    table {
      tr.hide-mobile {
        display: none;
      }
    }

    &.short {
      .right {
        display: none;
      }
    }
  }

  .section.why {
    .content {
      padding-left: 20px;
      padding-right: 20px;
    }

    h1.title {
      font-size: 30px;
      line-height: 34px;
      padding-top: 30px;
      padding-bottom: 20px;
    }

    p, ul, li {
      font-size: 16px;
      line-height: 20px;
    }

    .take-action {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
    }

    ul.contacts {
      li {
        font-size: 16px !important;
        line-height: 20px !important;

        .divider {
          width: 100%;
          display: block;
          height: 0;
          clear: both;
          overflow: hidden;
        }
      }
    }
  }

  .section.next {
    .content {
      padding-left: 20px;
      padding-right: 20px;
      position: relative;

      p {
        font-size: 16px;
        line-height: 20px;
      }

      &::before {
        content: '';
        width: 4px;
        position: absolute;
        height: calc(100% - 65px);
        top: 0;
        background: #fedc9e;
        background: -moz-linear-gradient(top,  #fedc9e 0%, #c9d99b 50%, #99d79c 100%);
        background: -webkit-linear-gradient(top,  #fedc9e 0%,#c9d99b 50%,#99d79c 100%);
        background: linear-gradient(to bottom,  #fedc9e 0%,#c9d99b 50%,#99d79c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fedc9e', endColorstr='#99d79c',GradientType=0 );
        margin-top: 60px;
      }

      &::after {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        background: transparent;
        border-top: 4px solid #99D79C;
        border-right: 4px solid #99D79C;
        transform: translate3d(0, -50%, 0) rotate(130deg);
        left: 15px;
        bottom: -5px;
      }
    }
    .step {
      width: 100%;
      padding-left: 20px;
      padding-right: 0;
      margin-bottom: 20px !important;

      h2 {
        font-size: $font-header;
        line-height: 26px;
        font-weight: 400;
      }

      & > div {
        padding-top: 20px;
      }
    }

    h1.title {
      font-size: 30px;
      line-height: 34px;
      padding-top: 0;
      padding-bottom: 20px;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    .step {
      margin-bottom: 40px;
      position: relative;
    }
  }

  .section.jail {
    padding-bottom: 50px;
  }

  .canvas-wrapper {
    .canvas-label {

      span {
        font-size: 20px !important;
        line-height: 20px !important;
        margin-top: 32px !important;
      }
    }
  }

  .section.footer {
    padding: 0;

    .left {
      background: rgba(255, 255, 255, 0.15);
      text-align: center;
      height: 45px;
    }

    .right {
      padding-top: 14px;

      a {
        line-height: 55px;
      }
    }

    .content.bt {
      margin-top: 10px;
    }
  }
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.5); }
  to { transform: scale(1); }
}
